<div class="container-fluid">
  <h1 class="sub-heading d-flex justify-content-center mt-5">Messaging <%= @msg_not.username %></h1>
</div>
<div class="container">
  <div>
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
        <% if user == @conversation.recipient %>
          <div class="d-flex justify-content-end">
            <p class="msg-bubble text-right p-3 rounded">
              <strong><%= user.username %></strong><br>
              <%= message.body %><br>
              <span><%= time_ago_in_words(message.updated_at) %> ago</span>
              </p>
          </div>
        <% else %>
          <div class="d-flex justify-content-start">
            <p class="msg-bubble p-3 rounded">
              <strong><%= user.username %></strong><br>
              <%= message.body %><br>
             <span class="font-italic"><%= time_ago_in_words(message.updated_at) %> ago</span>
            </p>
          <% end %>
       </div>
     <% end %>
   <% end %>
  </div>
</div>
  <%= form_for [@conversation, @message], html: {class: "input-group d-flex justify-content-center"} do |f| %>
    <div class="md-form">
        <%= f.text_area :body, class: "msg-bubble-input rounded" %>
        <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
        <div>
          <%= f.submit "submit", class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>