<h1 class="sub-heading d-flex justify-content-center mt-5">My Account</h1>
<div class="btn mb-2" role="button" aria-pressed="true">
  <%= link_to "Edit Account Details", edit_user_registration_path, class: "ctrl-standard fx-sliderIn btn-style btn-lg" %>
</div>
<div class="row row-cols-md-4">
    <% current_user.listings.each do |listing| %>
        <div class="card align-items-stretch">
          <% if listing.sold %>
            <h1 class="sold-text">SOLD!</h1>
          <% end %>
          <%= link_to listing_path(listing.id) do %>
            <%= image_tag(listing.picture, class: "card-img-top") if listing.picture.attached? %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= listing.brand %> <%= listing.style %></h5>
            <p class="card-text">Size: <%= listing.size %> (US mens)</p>
            <p class="card-text">Price: A$<%= listing.price %></p>
            <p class="card-text">Description: <%= listing.description %></p>
            <div class="btn" role="button" aria-pressed="true">
              <%= link_to "Delete", listing_path(listing.id), class: "ctrl-standard fx-sliderIn btn-style btn-lg", method: :delete %>
            </div>
            <div class="btn" role="button" aria-pressed="true">
              <%= link_to "Edit", edit_listing_path(listing.id), class: "ctrl-standard fx-sliderIn btn-style btn-lg" %>
            </div>
            <p class="card-text"><small class="text-muted">You created this listing on <%= listing.created_at.strftime("%d/%m/%Y") %></small></p>
          </div>
        </div>
    <% end %>
</div>