<h1 class="sub-heading d-flex justify-content-center">My Account</h1>
<%= link_to "Edit Account Details", edit_user_registration_path %>
<div class="row row-cols-1 row-cols-md-4">
    <% current_user.listings.each do |listing| %>
        <div class="card h-100">
          <%= link_to  listing_path(listing.id) do %>
            <%= image_tag(listing.picture, class: "card-img-top") if listing.picture.attached? %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= listing.brand %> <%= listing.style %></h5>
            <p class="card-text">Size: <%= listing.size %> (US mens)</p>
            <p class="card-text">Price: A$<%= listing.price %></p>
            <p class="card-text">Description: <%= listing.description %></p>
            <%= link_to "Delete", listing_path(listing.id), method: :delete %>
            <%= link_to "Edit", edit_listing_path(listing.id) %>
            <p class="card-text"><small class="text-muted">You created this listing on <%= listing.created_at.strftime("%d/%m/%Y") %></small></p>
          </div>
        </div>
    <% end %>
</div>