<div>
    <h3>Brand: <%= @listing.brand %></h3>
    <h3>Style: <%= @listing.style %></h3>
    <h3>Size: <%= @listing.size %></h3>
    <h3>Price: <%= @listing.price %></h3>
    <h3>Description: <%= @listing.description %></h3>

    <h4>Created by <%= @listing.user.username %></h4>
</div>
    <div>
      <% if @payment_button %>
        <div>
          <button data-stripe="payment">
            <h4>Buy now</h4>
          </button>
        <% end %>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
          document
            .querySelector("[data-stripe='payment']")
            .addEventListener("click", () => {
              const stripe = Stripe(
                "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
              );
          
              stripe.redirectToCheckout({
                sessionId: "<%= @session_id %>"
              });
            });
        </script>
      </div>
<%= link_to "Back", listings_path %>