<!DOCTYPE html>
<html>
  <head>
    <title>KickSwap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
  <div class="d-flex justify-content-between">
    <h1 class="main-heading">K I C K S W A P</h1>
      <% if user_signed_in? %>
        <div class="greeting">Logged in as <%= current_user.username %></div>
      <% end %>
  </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav class="navbar navbar-expand-md navbar-dark sticky-top">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to "All Shoes", listings_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sell Some Shoes", new_listing_path, class: "nav-link" %>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-2">
        <a class="navbar-brand mx-auto" href="<%= listings_path %>">K I C K S W A P</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse">
      <% if user_signed_in? %>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "My Account", account_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= get_message_alerts(current_user) %>
            </li>
            <li class="nav-item">
              <%= link_to "Logout", destroy_user_session_path, class: "nav-link",method: :delete %>
            </li>
      <% else %>
      <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
            </li>
      <% end %>
        </ul>
        </ul>
    </div>
</nav>
    <%= yield %>
  </body>
</html>
