<!DOCTYPE html>
<html>
  <head>
    <title>SneakerBuySell</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
    <h1 class="main-heading">K I C K S W A P</h1>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item nav-link">
              <%= link_to "All Shoes", listings_path %>
            </li>
            <li class="nav-item nav-link">
              <%= link_to "Sell Some Shoes", new_listing_path %>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="<%= listings_path %>">K I C K S W A P</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <% if user_signed_in? %>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item nav-link">
              <%= link_to "My Account", account_path  %>
            </li>
            <li class="nav-item nav-link">
              <%= get_message_alerts(current_user) %>
            </li>
            <li class="nav-item nav-link">
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            </li>
      <% else %>
      <ul class="navbar-nav ml-auto">
            <li class="nav-item nav-link">
              <%= link_to "Login", new_user_session_path %>
            </li>
            <li class="nav-item nav-link">
              <%= link_to "Sign up", new_user_registration_path %>
            </li>
      <% end %>
        </ul>
        </ul>
    </div>
</nav>
      <% if user_signed_in? %>
        <span class="greeting">Hello <%= current_user.username %></span>
      <% end %>
    <%= yield %>
  </body>
</html>
