<!DOCTYPE html>
<html>
  <head>
    <title>SneakerBuySell</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
    <h1 class="main-heading">K i c k S w a p</h1>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav class="navbar sticky-top">
    <%= link_to "All Shoes", listings_path  %>
    <%= link_to "Sell Some Shoes", new_listing_path %>
      <% if user_signed_in? %>
        <span>Hello <%= current_user.username %></span>
        <%= link_to "My Account", account_path  %>
          <%# METHOD IN APPLICATION HELPER - DISPLAYS MESSAGE ALERTS %>
          <%= get_message_alerts(current_user) %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Login", new_user_session_path  %>
        <%= link_to "Sign up", new_user_registration_path  %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
